<h2 class="mt-5 mb-3 d-flex justify-content-center text-start">Join us!</h2>
<div class="d-flex justify-content-center text-start">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "sign-up-form" }) do |f| %>
  <div class="blue-background">
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

      <div class="form-actions">
        <%= link_to new_user_session_path, class: "btn btn-primary sign-in-button", role: "button" do %>
          Sign in
        <% end %>

        <%= link_to new_user_registration_path, class: "btn btn-success sign-up-button", role: "button" do %>
          Sign up
        <% end %>

        <%= link_to legal_path, class: "legal-link", role: "button" do %>
          Read our privacy policy here
        <% end %>
      </div>
    <% end %>
  </div>
</div>
