<div class="">
  <div class="mt-4 listing-form" data-controller="filter-subcategory">
    <%= simple_form_for(goal) do |f| %>
      <%= f.input :category, as: :select, collection: Goal::CATEGORIES.keys,
                  input_html: { data: {action: "change->filter-subcategory#getKey"}
                  }%>
      <%= f.input :sub_category, as: :select, collection: [],
                  input_html: { data: {filter_subcategory_target: "subcategory"} }   %>
      <%= f.input :description, label: "Your goal description" %>
      <%= f.input :deadline  %>
      <%= f.label "Do you prefer meeting offline with your buddy, or online (or both)?", class: "py-3" %>
      <%= f.input :offline %>
      <%= f.input :online %>
      <%= f.submit "Edit goal", class: "btn btn-primary my-4"%>
    <% end %>
  </div>
</div>
