<div id="profile-information" class="my-3" >

  <%# avatar  %>
  <div id="profile-avatar" class="px-3 text-center">
    <% if current_user.photo.attached? %>
      <%= image_tag(current_user.photo, class: "avatar-bordered-large-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;") %>
    <% else %>
      <%= image_tag "https://api.dicebear.com/7.x/thumbs/svg?seed=#{current_user.email}&backgroundColor=0a5b83&shapeColor=69d2e7", class: "avatar-bordered-large-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;" %>
    <% end %>
    <div id="add-avatar-button">
      <%= link_to edit_user_registration_path do %>
          <i class="fas fa-pencil-alt ms-3"></i>
      <% end %>
    </div>
  </div>

  <%# profile info block + edit options %>
  <div id="profile-info" class="d-flex flex-column align-items-center">
    <li class="d-flex justify-content-between">
      <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    </li>
    <li class="d-flex justify-content-between">
      <div><%= current_user.email %></div>
    </li>
    <li class="mt-2 align-self-end" id="btn-new-password">
      <%= link_to edit_user_registration_path do %>
          <i class="fas fa-pencil-alt ms-3"></i>
      <% end %>
    </li>
  </div>

</div>
