<%= render "shared/banner" %>
<br>
<div id="values" class="d-flex flex-column justify-content-center">
  <h1 style="padding:20px">VALUES</h1>
  <div class="cards d-flex justify-content-between flex-row">
    <div class="card" style="border: none; width: 18rem">
      <img  class="card-img-top" src="<%= asset_path('accessibility.svg') %>" alt="icon accessibility" >
      <div class="card-body">
        <h3>Accessibility</h3>
        <p class="card-text">Designed with accessibility in mind, ensuring that everyone, regardless of their abilities or disabilities, can easily utilize its functionalities. </p>
      </div>
    </div>
    <div class="card" style="border: none; width: 18rem">
      <img  class="card-img-top" src="<%= asset_path('inclusivity.svg') %>" alt="icon inclusivity" >
      <div class="card-body">
        <h3>Inclusivity</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="border: none; width: 18rem">
      <img class="card-img-top" src="<%= asset_path('easiness.svg') %>" alt="icon easiness" >
      <div class="card-body">
        <h3>Easiness</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div id="how-works">
  <div class="container.header" style="padding:20px">
  <h1>HERE IS HOW IT WORKS! 🐒</h1>
  </div>

  <div class="cards-container">
    <ol>
      <div class="cards d-flex justify-content-between" style="padding: 20px 0px">
        <div class="card" style="border: none; width: 18rem; display: inline-block;"><img class="card-img-top" src="<%= asset_path('sign_up.svg') %>" alt="icon inclusivity" ><h4 style="padding:20px">1. Sign up</h4></div>
        <div class="card" style="border: none; width: 18rem; display: inline-block;"><img class="card-img-top" src="<%= asset_path('goal.svg') %>" alt="icon inclusivity" ><h4 style="padding:20px">2. Set your goal<h4></div>
        <div class="card" style="border: none; width: 18rem; display: inline-block;"><img class="card-img-top" src="<%= asset_path('buddy.svg') %>" alt="icon inclusivity" ><h4 style="padding:20px">3. Match your buddy</h4></div>
        <div class="card" style="border: none; width: 18rem; display: inline-block;"><img class="card-img-top" src="<%= asset_path('track.svg') %>" alt="icon inclusivity" ><h4 style="padding:20px">4. Track progress</h4></div>
      </div>
      <div class="cards d-flex justify-content-center" style="padding: 20px 0px">
        <div class="card" style="width: 20rem; border: none"><img class="card-img-top" src="<%= asset_path('celebration.svg') %>" alt="icon inclusivity" ><h4 style="padding:20px">5. Celebrate success!</h4></div>
      </div>
    </ol>
  </div>
</div>
