<div class="row justify-content-center" id="profile">

  <div class="col-md-7 my-5">
  <h2>Hi <%= current_user.first_name %>! 👋</h2>

    <div id="profile-information" class="w-50 my-3" >
      <%# avatar  %>
      <div>
        <div id="profile-avatar" class="p-3 text-center">
          <img src="https://source.unsplash.com/boys-face-close-up-photography-n4KewLKFOZw" alt="avatar-photo" class="avatar-bordered-large-shadow">
        </div>
        <%# profile info block + edit options %>
        <div id="profile-info" class="d-flex flex-column mt-2 align-items-center">
          <li class="d-flex justify-content-between mb-2">
            <div><%= current_user.first_name %> <%= current_user.last_name %></div>
            <%= link_to edit_user_registration_path do %>
              <i class="fas fa-pencil-alt ms-3"></i>
            <% end %>
          </li>
          <li class="d-flex justify-content-between">
            <div><%= current_user.email %></div>
            <%= link_to edit_user_registration_path do %>
              <i class="fas fa-pencil-alt ms-3"></i>
            <% end %>
          </li>
          <li>
            <button class="btn btn-primary mt-2" id="btn-new-password">edit password</button>
          </li>
        </div>
      </div>
    </div>

    <div id="profile-dashboard-link" class="my-5">
      <h5>Dashboards</h5>
      <p>Placeholder for: go to my buddy dashboard(s) (for each match: matches#show)</p>
    </div>

    <div id="profile-goals">
      <div id="profile-all-goals">
        <h5>Goals</h5>
        <p>Placeholder for: all my goals (goals#index)</p>
      </div>
      <div id="profile-add-goal">
        <p>Placeholder for: add a goal (goals#new)</p>
      </div>
      <div id="profile-edit-goal">
        <p>Placeholder for: edit goal (goals#edit)</p>
      </div>
    </div>

  </div>
</div>
