<div class="row justify-content-center" id="profile">

  <div class="col-md-7 my-5">
  <h2>Hi <%= current_user.first_name %>! 👋</h2>

    <div id="profile-information" class="w-50 my-3" >
      <div>
        <%# avatar  %>
        <div id="profile-avatar" class="px-3 text-center">

          <% if current_user.photo.attached? %>
            <%= image_tag(current_user.photo, class: "avatar-bordered-large-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;") %>
          <% else %>
            <%= image_tag "avatar_default.svg", class: "avatar-bordered-large-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;" %>
          <% end %>

          <div id="add-avatar-button">
            <%= link_to edit_user_registration_path do %>
                <i class="fas fa-pencil-alt ms-3"></i>
            <% end %>
          </div>
        </div>

        <%# profile info block + edit options %>
        <div id="profile-info" class="d-flex flex-column align-items-center">
          <li class="d-flex justify-content-between">
            <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
          </li>
          <li class="d-flex justify-content-between">
            <div><%= current_user.email %></div>
          </li>
          <li class="mt-2 align-self-end" id="btn-new-password">
            <%= link_to edit_user_registration_path do %>
                <i class="fas fa-pencil-alt ms-3"></i>
            <% end %>
          </li>
        </div>
      </div>
    </div>

    <div id="profile-dashboard-link" class="my-5">
      <h5>Dashboards</h5>
      <p>Placeholder for: go to my buddy dashboard(s) (for each match: matches#show)</p>
    </div>

    <div id="profile-goals">
      <div id="profile-all-goals">
        <h5>Goals</h5>
        <p>Placeholder for: all my goals (goals#index)</p>
      </div>
      <div id="profile-add-goal">
        <p>Placeholder for: add a goal (goals#new)</p>
      </div>
      <div id="profile-edit-goal">
        <p>Placeholder for: edit goal (goals#edit)</p>
      </div>
    </div>

  </div>
</div>
