<div id="profile-page">

  <div class="d-flex justify-content-center w-100 mt-2">

  <%# ---------------- 0. TAB MENU ---------------- %>

    <div class="align-self-start mb-5 me-4 mt-3 blue-background">
      <h2 class="mb-4">Hi <%= current_user.first_name.capitalize %>! 👋</h2>
      <%= render "shared/profile-tabs" %>
    </div>

  <%# ---------------- ALL TAB CONTENT - start ---------------- %>

    <div id="all-tab-content" class="w-75">

      <%# ---------------- 1. PROFILE ---------------- %>

      <div class="tab-pane fade <%= 'active show' if params[:location].nil? %>"  id="profile-content" role="tabpanel" aria-labelledby="profile-tab">
        <%= render "shared/profile-card" %>
      </div>

      <%# ---------------- 2. DASHBOARDS ---------------- %>

      <div class="tab-pane fade <%='active show' if params[:location] == 'dashboards'%>" id="matches" role="tabpanel" aria-labelledby="match-tab">
        <div id="profile-dashboard-link" class="my-3 gray-background match-card">
          <%# <h3>Dashboards</h3> %>
          <%# <p>Help your buddy and yourself - the sky is the limit, you can do this! 💪</p> %>
            <div class="d-flex justify-content-between align-items-start">
              <div class="list-card-container list-index">
                <% if @matches_current.empty? == false %>
                  <% @matches_current.each do |match| %>
                    <%= render "shared/match-card", match: match %>
                  <% end %>
                <% else %>
                  <h5 class="my-4">No matches yet... your buddy is a few clicks away!</h5>
                  <ol id="no-matches-text" class="">
                    <li>Go to the goals tab</li>
                    <li>Create a goal (if you haven't done already)</li>
                    <li>Click the match button</li>
                    <li>Reach your goals together! 🎉</li>
                  </ol>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <%# ---------------- 3. GOALS ---------------- %>

      <div class="tab-pane fade <%='active show' if params[:location] == 'goals'%>" id="goals" role="tabpanel" aria-labelledby="goals-tab">

        <div id="profile-goals" class="my-3 gray-background">
          <%# <h3>Your goals</h3> %>

          <%# -- GOALS INDEX -- %>
          <div class="list-card-container d-flex flex-column align-items-center list-index">
              <% @goals.each do |goal| %>
                <%= render "shared/goal-card", goal: goal %>
              <% end %>
          </div>
          <!-- ADD GOAL BUTTON & MODAL FORM TO ADD GOAL -->
          <div>
            <%= render "shared/add-goal-modal" %>
          </div>

      </div>

      <%# -------------- ACHIEVEMENTS --------------  %>
      <div class="tab-pane fade" id="achievements" role="tabpanel" aria-labelledby="achievements-tab">

        <div class="my-3 gray-background">
          <%= render "achievements" %>
        </div>

      </div>

    </div>
    <%# ---------------- ALL TAB CONTENT - end ---------------- %>
  </div>
</div>
