<div class="card d-flex flex-row">
  <%  %>
  <div id="profile-avatar" class="px-3 text-center">
    <% if current_user.photo.attached? %>
      <%= image_tag(current_user.photo, class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;") %>
    <% else %>
       <%= image_tag "avatar_default.svg", class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;" %>
    <% end %>
  </div>
  <div id="profile-avatar" class="px-3 text-center">
    <% if match.matched_goal.user.photo.attached? %>
      <%= image_tag(match.matched_user.photo, class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;") %>
    <% else %>
       <%= image_tag "avatar_default.svg", class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 150px; height: 150px; object-fit: cover;" %>
    <% end %>
  </div>
      <div class="card-body">
      <h5 class="card-title"><%= "#{match.matched_goal.user.first_name}'s & #{match.goal.user.first_name}'s Buddy Dashboard" %></h5>
      <p class="card-text">You can track your and <%= match.matched_goal.user.first_name %>'s <strong><%= match.goal.category %></strong> goal progress in this dashboard.</p>
      <%= link_to "Go Dashboard", match, class: "btn btn-primary" %>
    </div>
</div>
