<h2>Buddy Dashboard show page</h2>
<div class="container border border-dark rounded p-3 mt-4">
        <div class="row">
            <div class="col d-flex flex-column">
                <!-- Content for the first column -->
                <div class="avatars col d-flex flex-row">
                  <div id="profile-avatar" class="px-3 text-center">
                    <% if current_user.photo.attached? %>
                      <%= image_tag(current_user.photo, class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 50px; height: 50px; object-fit: cover;") %>
                    <% else %>
                      <%= image_tag "avatar_default.svg", class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 50px; height: 50px; object-fit: cover;" %>
                    <% end %>
                  </div>
                  <div id="profile-avatar" class="px-3 text-center">
                    <% if @match.matched_goal.user.photo.attached? %>
                      <%= image_tag(@match.matched_goal.user.photo, class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 50px; height: 50px; object-fit: cover;") %>
                    <% else %>
                      <%= image_tag "avatar_default.svg", class: "avatar-bordered-small-shadow", alt: "avatar", style: "width: 50px; height: 50px; object-fit: cover;" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-9" ></div>
                <div class="col d-flex flex-column">
                  <%= link_to "Chat", "#", class: "btn btn-primary" %>
                  <%= link_to "Complete goal", "#", class: "btn btn-secondary" %>
                </div>
            </div>
            <div class="col-9">
                <!-- Content for the second column -->
              <h5 class="card-title">
                <%= "Buddy Dashboard for #{@match.goal.user.first_name.capitalize} & #{@match.matched_goal.user.first_name.capitalize}" %>
              </h5>
              <div class= "d-flex flex-row">
                <div id="user1-goal" class="col">
                  <p><strong><%= @match.goal.user.first_name.capitalize %>:</strong> <%= @match.goal.description %></p>
                </div>
                <div id="user2-goal" class="col">
                  <p><strong><%= @match.matched_goal.user.first_name.capitalize %>:</strong> <%= @match.matched_goal.description %></p>
                </div>
              </div>


            </div>
        </div>
    </div>
