<%# container for all dashboard content %>
<div class="row d-flex justify-content-center w-100 mt-2" id="buddy-dash">

  <%# ---------------- FIRST COLUMN ------------ %>

  <div class="col-3 blue-background d-flex flex-column justify-content-between mt-3 column-dash">

    <%# ---------------- 1. HEADING & AVATARS -------------------- %>

    <div class="text-center mt-3">

      <h4><%= "Buddy Dashboard of #{current_user.first_name.capitalize} & #{@match.other(current_user).user.first_name.capitalize}" %>  </h4>

      <div class="d-flex justify-content-center my-4 flex-wrap">
        <div id="profile-avatar" class="px-3">
          <% if current_user.photo.attached? %>
            <%= image_tag(current_user.photo, class: "avatar-bordered-medium-shadow", alt: "avatar") %>
          <% else %>
            <%= image_tag "https://api.dicebear.com/7.x/thumbs/svg?seed=#{current_user.email}&backgroundColor=0a5b83&shapeColor=69d2e7", class: "avatar-bordered-medium-shadow", alt: "avatar" %>
          <% end %>
        </div>
        <div id="profile-avatar" class="px-3">
          <% if @match.other(current_user).user.photo.attached? %>
            <%= image_tag(@match.other(current_user).user.photo, class: "avatar-bordered-medium-shadow", alt: "avatar") %>
          <% else %>
            <%= image_tag "https://api.dicebear.com/7.x/thumbs/svg?seed=#{@match.other(current_user).user.email}&backgroundColor=0a5b83&shapeColor=69d2e7", class: "avatar-bordered-medium-shadow", alt: "avatar" %>
          <% end %>
        </div>
      </div>

    </div>

    <%# ------------------ 2. BUTTONS ------------------------  %>
    <div class="d-flex flex-column">

      <%# <!-- Chat button --> %>
      <%# if chatroom of the match is nil, then create a new chatroom %>

      <% if @chatroom.nil?  %>
        <%= simple_form_for @chat, url: match_chatrooms_path(@match) do |f| %>
          <%= f.input :match_id, as: :hidden, input_html: { value: @match.id } %>
          <%= f.input :sender_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.input :receiver_id, as: :hidden, input_html: { value: @match.matched_goal.user.id } %>
          <%= f.button :submit, "Chat with your buddy! 💬", class: "btn white-background-shadow-blue-hover mb-2 text-center w-100" %>
        <% end %>
      <% else %>
        <%= link_to "Chat with your buddy! 💬", match_chatroom_path(@match, @chatroom), class: "btn white-background-shadow-blue-hover mb-2 text-center w-100" %>
      <% end %>

      <%# complete button  %>

        <div>
          <%= simple_form_for @match do |f| %>
            <%= f.input :status, label: false, field: false, input_html: { style: "display: none", value: "completed" }%>
            <%= f.button :submit, "Complete buddy match", class: "btn white-background-shadow-blue-hover w-100",
            data: {controller: "confetti", action: "click->confetti#spray", confetti_animation_value: "school-pride"}%>
          <% end %>
        </div>

      <!-- Button trigger modal to update match status -->

        <button type="button" class="btn white-background-shadow-blue-hover" data-toggle="modal" data-target="#updateMatchModalCenter">
          Cancel buddy match
        </button>

        <!-- Modal to update match status -->
        <div class="modal fade" id="updateMatchModalCenter" tabindex="-1" role="dialog" aria-labelledby="updateMatchStatus" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateMatchModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render "shared/edit-match-form" %>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  <%# end column 1  %>

  <%# ---------------- SECOND COLUMN: BUDDY 1 (CURRENT_USER) ------------ %>

  <div class="col-4 gray-background mx-3 mt-3 column-dash">

    <%# ----------------- goal information ---------------------  %>
    <div>
      <div class="white-background-dash">
        <p class=><strong><%= current_user.first_name.capitalize %>'s goal:</strong> <%= @current_user_goal.description %> </p>
        <div class="progress" style="height: 30px;">
          <div class="progress-bar p-3" role="progressbar" style="width : <%=@my_progress.round(2)%>%" aria-valuenow="<%= @my_progress.round(2) %>" aria-valuemin="0" aria-valuemax="100"> <%= @my_progress.round(2) %>% </div>
        </div>
      </div>
      <div class="mt-3">
        <small>
          <ul class="list-group list-group-flush" >
            <li class="list-group-item"><strong>Category:</strong> <%=  @current_user_goal.category %></li>
            <li class="list-group-item"><strong>Subcategory: </strong><%= @current_user_goal.sub_category %></li>
            <li class="list-group-item"><strong>Deadline:</strong> <%= @current_user_goal.deadline %></li>
          </ul>
        </small>
      </div>
    </div>

    <%# ---------------- TASKS ------------------- %>
    <div class="white-background-dash-noflex mt-3">

      <p><strong><%= current_user.first_name.capitalize %>'s</strong> tasks</p>
      <div>
        <ul class="list-group list-group-flush task-list-scrollable">
          <% @my_tasks.each do |task| %>
              <%= render "shared/task-list", task: task %>
          <% end %>
        </ul>
      </div>

      <!-- Button trigger modal -->
      <div class="d-flex align-items-center justify-content-center">
        <button type="button" class="btn create-task-button mt-2" data-toggle="modal" data-target="#newTaskModalCenter">
          <i class="fa-solid fa-plus"></i> Add new task
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="newTaskModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "shared/new-task" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  <%# end column  %>
  </div>

  <%# ---------------- THIRD COLUMN: BUDDY ------------ %>

  <div class="col-4 gray-background mt-3 column-dash">

    <%# ----------------- goal information ---------------------  %>
    <div>
      <div class="white-background-dash mb-3">
        <p class=""><strong><%= @match.other(current_user).user.first_name.capitalize %>'s goal:</strong> <%= @match.other(current_user).description %> </p>
        <div class="progress" style="height: 30px;">
          <div class="progress-bar p-3" role="progressbar" style="width : <%=@buddy_progress.round(2)%>%" aria-valuenow="<%= @buddy_progress.round(2)%>" aria-valuemin="0" aria-valuemax="100"> <%= @buddy_progress.round(2)%>% </div>
        </div>
      </div>
      <div class="mt-3">
        <small>
          <ul class="list-group list-group-flush" >
            <li class="list-group-item"><strong>Category:</strong> <%= @match.other(current_user).category %> </li>
            <li class="list-group-item"><strong>Subcategory: </strong><%= @match.other(current_user).sub_category %> </li>
            <li class="list-group-item"><strong>Deadline:</strong> <%= @match.other(current_user).deadline %> </li>
          </ul>
        </small>
      </div>
    </div>

    <%# ---------------- TASKS ------------------- %>

    <div class="white-background-dash-noflex mt-3">
      <p class=""> <strong><%= @match.other(current_user).user.first_name.capitalize %>'s</strong> tasks </p>

      <div>
        <% if @buddy_tasks.length == 0 %>
          <div class="d-flex align-items-center justify-content-center">
            <p class="mt-2"><small><%= @match.other(current_user).user.first_name.capitalize %> has not added any tasks yet.</small></p>
          </div>
        <% else %>
          <% @buddy_tasks.each do |task| %>
            <ul class="list-group">
              <%= render "shared/task-list", task: task %>
            </ul>
          <% end %>
        <% end %>
      </div>


    </div>

  </div>

  <%# end column 3  %>

</div>
